<mat-sidenav-container class="all-wrap bds-background mat-typography" fxLayout="column">

  <mat-sidenav #sidenav role="navigation">
    <bds-sidenav-logo routerLink="/" (click)="sidenav.close()"></bds-sidenav-logo>
    <bds-sidenav-menu (closeSidenav)="sidenav.close()" [params]="params"></bds-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="page-wrap" fxLayout="column">
      <bds-header (isSidenavToggle)="sidenav.toggle()"></bds-header>

      <section fxFlex fxFill>
        <router-outlet></router-outlet>
      </section>
      <footer>
        <bds-footer></bds-footer>
      </footer>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
