<mat-sidenav-container class="bds-container-wrap bds-background mat-typography" fxLayout="column" >

  <mat-sidenav #sidenav role="navigation">
    <bds-sidenav-logo routerLink="/" (click)="sidenav.close()"></bds-sidenav-logo>
    <bds-sidenav-menu (closeSidenav)="sidenav.close()" [params]="params"></bds-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
      <!-- (scroll)="scrollSpyHandler($event)" -->
    <main class="bds-main-wrap" fxLayout="column">
      <bds-navbar (isSidenavToggle)="sidenav.toggle()"></bds-navbar>

      <section #router fxFlex>
        <router-outlet></router-outlet>
      </section>
      <footer>
        <bds-footer></bds-footer>
      </footer>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
