<div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="start center" fxFill class="bds-bgc--footer bds-color--footer">
  <div fxFlex>
    <mat-list >
      <mat-list-item>
        <mat-icon matListIcon class="bds-color-icon--footer">contacts</mat-icon>
        <h3 matLine class="bds-color--footer">Patricia Pesce-Lavaux</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon class="bds-color-icon--footer">map</mat-icon>
        <p matLine class="bds-color--footer">53 bis, boulevard Robespierre</p>
        <p matLine class="bds-color--footer">78300 POISSY</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon class="bds-color-icon--footer">contact_phone</mat-icon>
        <p matLine class="bds-color--footer">07 64 09 87 68</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon class="bds-color-icon--footer">contact_mail</mat-icon>
        <p matLine class="bds-color--footer">contact@bullesdesoi.fr</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex class="bds-citation--footer">

    <p class="bds-quotes"> Permettre le développement de l'autonomie en étant acteur de son mieux-être... </p>
    <p style="font-family: Merienda One, cursive; text-align: right;" >@Patricia</p>

  </div>
  <div fxFlex fxFlex="33" fxFlexFill>
    <bds-map></bds-map>
  </div>
</div>
