
.sign-font {
  font-family: "Merienda One", cursive !important;
  font-style: italic;
}

p.bds-quotes:before {
  content:"\201C";
  font-size: 18px;
}

p.bds-quotes:after {
  content:"\201D";
  font-size: 18px
}

p.bds-quotes {
  text-align: right;
}
