@import '../../../bds-theme.scss';
@import '~@angular/material/theming';

.bds-color--footer {
  color: mat-color($mat-grey, 50);
  font-family: "Lato", Thin;
  font-size: 16px !important;
  font-weight: 100 !important;
}

.bds-bgc--footer {
  background-color: mat-color($bds-primary, 800);
}

.bds-color-icon--footer {
  color: mat-color($mat-grey, 200);
}

.bds-footer-logo {
  max-height: 220px;
}

.bds-footer-logo--lt-gt {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 150px;
}

.bds-container-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bds-container-lt-gt {
  display: block;
  align-items: center;
  justify-content: center;
}
