<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <div fxFlex="33" fxLayout="column" fxFlexOrder="1" fxFlexOrder.lt-sm="2">1. One</div>
  <div fxFlex="33" fxLayout="column" fxLayoutAlign="center end" fxFlexOrder="2" fxFlexOrder.lt-sm="1">

    <p style="font-style: italic;" class="bds-quotes" fxFlex> Permettre le développement de l'autonomie en étant acteur de son mieux-être... </p>
    <p style="font-family: Merienda One, cursive" fxFlex>@Patricia</p>

  </div>
  <div fxFlex="33" fxLayout="column" fxFlexOrder="3">
    <bds-map></bds-map>
  </div>
</div>
