<div fxLayout="column" fxLayoutAlign="space-around center" class="bds-description--home">
  <div fxFlex="100" class="bds-section-title">
    <h3>Description</h3>
  </div>
  <div fxFlex class="bds-description-texte--home">
    <p>
      La sophrologie est une méthode de thérapie brève créée par le neuro-psychiatre Alfonso Caycedo en 1960. Elle agit sur le
      corps et le mental et s'inspire de diverses techniques occidentales et orientales telles, entre autres, l'hypnose,
      les méthodes Coué et Vittoz, le yoga indien ou encore le zen japonais. Cette pratique est destinée à favoriser
      l'émergence de vos ressentis et la prise de conscience de votre force intérieure. Elle permet de trouver ou retrouver
      son bien-être, de développer son potentiel, et donc de gérer des problématiques trés étendues d'ordre thérapeutique
      ou du développement personnel.
    </p>
  </div>
  <div fxFlex="100" class="bds-section-title">
    <h3>Pratique</h3>
  </div>
  <div fxFlex class="bds-description-texte--home">
    <p>
      La pratique de la sophrologie est basée sur des exercices associant les mouvements doux, la respiration contrôlée, l'alternance
      de contractions, relâchements musculaires appelés "Relaxations Dynamiques" et sur des temps de détente statique
      utilisant la visualisation d'images positives nommés "Sophronisations". Ces temps d'exercices sont ponctués de
      temps d'échange avec le sophrologue afin de verbaliser les ressentis, favoriser la prise de conscience et adapter
      au mieux l'accompagnement. La finalité de ce processus est de vous conduire à l'aboutissement de votre objectif
      et de vous rendre autonome grâce à l'appropriation simple de ces "outils". En effet, l'entrainement personnel fait
      également partie intégrante de la thérapie.
    </p>
  </div>
</div>
<div class="bds-banner-image--home" fxLayout="row" fxLayoutAlign="end center">
  <div class="bds-banner-texte--home" fxLayout="row" fxLayout="end center">
      <div fxFlex class="bds-landing-title--home">
        <blockquote>
          <p>Réveiller son potentiel et se révéler enfin soi</p>
        </blockquote>
        </div>
  </div>
</div>
