@import '../../../bds-theme.scss';
@import '~@angular/material/theming';

.bds-description--home {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.bds-description-texte--home {
  font-family: "Lato", Thin;
  text-align: justify;
}

.bds-border-texte--home {
  border-left: 3px solid #673ab7;
  padding-top: 10px;
}

.bds-banner-image--home {
  background-image: url("../../../assets/photos/banner-section-home.png");
  height: 200px;

  /* Position et centrage de l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bds-banner-texte--home {
  position: absolute;
  display: block;

  & .bds-landing-title--home > blockquote > p {
    font-family: "Merienda One", cursive !important;
    font-size: 24px;
    color:  whitesmoke;
  }
}

.bds-section-title > h3 {
  font-family: "Lato", Thin;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bds-circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  height: 300px;
  width: 300px;
}

.bds-circular--square-lt-md {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  height: 150px;
  width: 150px;
}

.bds-row-description--home {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  align-items: center;
}
