.bds-global-contact--home {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bds-subtitle-contact-home >h3 {
  font-family: "Lato", Thin;
  font-size: 32px;
  padding-bottom: 20px;
}

.bds-row-form--home {
  margin-bottom: 30px;
}

.bds-row-form-lt-md {
  margin: 0 20px 20px 30px;
}
