<!-- <mat-nav-list>
  <a mat-list-item routerLink="/" (click)="sidenavClose()">
    <span >Home</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="sidenavClose()">
    <span >S'inscrire</span>
  </a>
  <a mat-list-item routerLink="/signin" (click)="sidenavClose()">
    <span>Se connecter</span>
  </a>
</mat-nav-list> -->
<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <nav *ngFor="let category of navItems.getCategories('navigation')">
      <button (click)="toggleExpand(category.id)"> {{ category.name }}
        <mat-icon *ngIf="!getExpanded(category.id)">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="getExpanded(category.id)">keyboard_arrow_up</mat-icon>
      </button>
      <ul [@bodyExpansion]="_getExpandedState(category.id)" id="panel-{{category.id}}">
        <li *ngFor="let item of category.items">
          <a [routerLink]="item.route" routerLinkActive="bds-nav-item-selected" (click)="sidenavClose()"> {{ item.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

