@import '../../../bds-theme.scss';
@import '~@angular/material/theming';

.bds-applications--home {
  background-color: mat-color($bds-primary, 50);
  padding: 50px 10px 50px 10px;
}

.bds-applications-button--home {
  padding-top: 50px;
  padding-bottom: 20px;
}

.bds-section-title-subtitle {
  > h3 {
  font-family: "Lato", Thin;
  font-size: 32px;
  padding-bottom: 20px;
  margin-bottom: 0;
  //flex-wrap: wrap;
}

  > h4 {
    font-family: "Lato", Thin !important;
  }
}

.bds-section--title {
  padding-top: 50px;
  padding-left: 60px;
}

.bds-applications-card--home {
  min-height: 400px;
  max-height: 500px;
  max-width: 400px;

  & p {
    text-align: justify;
  }
}

.bds-card-spacer {
  min-height: 100px;
}

.bds-space-lt-md {
  padding-bottom: 30px;
}

mat-card-title {
  font-size: 18px !important;
  color: mat-color($bds-primary, 400);
}
