<div class="bds-applications--home" fxLayout="column" fxLayoutAlign="space-around center">

  <div class="bds-section--title" fxLayout="column" fxLayoutAlign="start start" fxFill fxLayoutGap="20">
    <div fxFlex class="bds-section-title-subtitle" >
      <h3>Spécialisations</h3>
    </div>
    <div fxFlex>
      <h4>La sophrologie peut s'adresser à tous, retrouvez plus d'informations sur les pages détaillées</h4>
    </div>
  </div>


    <div fxFlex="100" fxFlexFill fxLayoutAlign="space-around center">
      <div fxFlex="20">
        <mat-card class="bds-card--home mat-card-flat">
          <mat-card-header>
            <mat-card-title>Périnatalité</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/photos/31.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Vous accompagnez à tous les stades autour de la naissance
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="20">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Enfance</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/photos/31.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Une thérapie adaptable et accessible pour les problématiques de l'enfant
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="20">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Adolescence</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/photos/31.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              La sophrologie comme précieuse alliée sur la période de tous les changements
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- bouton en savoir plus -->
    <div fxFlex="100" fxFlexFill fxLayoutAlign="center center" class="bds-applications-button--home">
      <button mat-raised-button color="primary" routerLink="/applications">En savoir plus</button>
    </div>



  </div>
