@import '~@angular/material/theming';
@import '../../../bds-theme.scss';

$config: mat-typography-config();

.bds-landing-picture--home {
  min-height: 800px;
  background-image: url("../../../assets/photos/drop-of-water-drip-flower-plant-40752-filtre.jpeg");

  /* Position et centrage de l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Position du texte sur l'image */
.bds-landing-content--home {
  position: absolute;
  display: block;
  margin-left: 100px;
  margin-top: 150px;

  & .bds-landing-title--home > h1 {
    font-family: "Merienda One", cursive !important;
    margin-bottom: 0;
    color: mat-color($bds-primary, 50);
  }

  & .bds-landing-title--home > h4 {
    font-family: "Lato", Thin !important;
    margin-bottom: 0px;
    font-size: 24px;
    color: mat-color($mat-grey, 200);
  }

}

.bds-landing-content--home-lt-md {
  position: absolute;
  display: block;

  & .bds-landing-title--home > h1 {
    font-family: "Merienda One", cursive !important;
    font-size: 48px;
    margin-bottom: 0;
    color: mat-color($bds-primary, 50);
  }

  & .bds-landing-title--home > h4 {
    font-family: "Lato", Thin !important;
    margin-bottom: 0px;
    font-size: 18px;
    color: mat-color($mat-grey, 200);
    text-align: center;
  }
}
