<div class="bds-landing-picture--home" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="bds-landing-content--home" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <div fxFlex class="bds-landing-title--home">
      <h1>Bulles de soi</h1>
    </div>
    <div fxFlex class="bds-landing-title--home">
      <h4>Etre acteur de son mieux être en permettant le développement de l'autonomie</h4>
    </div>
    <div fxFlex="100" >
      <button mat-raised-button color="accent" routerLink="/rdv">Prendre rendez-vous</button>
    </div>
  </div>
</div>

