@import '../../../bds-theme.scss';
@import '~@angular/material/theming';

.bds-bg-color-toolbar {
  background: mat-color($bds-primary, 700);
  color: mat-color($mat-blue-grey, 50);
}

.title {
  font-family: "Merienda One", cursive !important;
  font-size: 24px;
}

.bds-spacer-toolbar {
  flex: 1 1 auto;
}
