.bds-menu--nav-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 16px 0;
  margin: 0;
}

.bds-menu--nav-logo:focus {
  outline: none;
}

.bds-menu--nav-logo > img {
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}

a.bds-menu--nav-logo {
  color: #4527A0; /* deep-purple-800*/
  font-family: "Merienda", cursive;
  border-bottom: none;
  text-decoration: none;
  margin-bottom: 0;
}

.bds-menu--nav-logotype {
  color: #512DA8; /* deep-purple-700*/
  font-family: "Merienda", cursive;
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  margin-top: 40px;
  margin-bottom: 0;
}
.bds-menu--nav-logo {
  background-color: #EDE7F6 !important;
}

