// Include material mixins et tools
@import '~@angular/material/theming';
@include mat-core();

$bds-primary: mat-palette($mat-deep-purple, 500, 100, 700);
$bds-accent: mat-palette($mat-lime, A200, A100, A400);
$bds-warn: mat-palette($mat-pink);

// Déclaration de la typographie
$bds-typography: mat-typography-config(
  $font-family: 'Lato Light, sans-serif'
);

// Déclaration du theme
$theme: mat-light-theme($bds-primary, $bds-accent, $bds-warn);
$background: map-get($theme, background);
@include angular-material-theme($theme);
@include mat-core($bds-typography);


