@import './bds-theme.scss';
@import '~@angular/material/theming';

html, body {
  height: 100%;

}

body {
  margin: 0;
}

// Gestion de l'affichage pleine page du router-outlet et du footer positionné en bas
 .all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  // flex-direction: column;
  min-height: 100vh;
}

bds-footer {
  display: flex;
  min-height: 300px;
}

// .content {
//   flex: 1;
// }

//main {
  // display: flex;
  // flex-direction: column;
  //> *:not(router-outlet) {
   // flex: 1;
   // display: block;
  //}
//}

.bds-background {
  background-color: mat-color($bds-primary, 50);
}
