@import './bds-theme.scss';
@import '~@angular/material/theming';

html, body {
  height: 100%;

}

body {
  margin: 0;
}

// Gestion de l'affichage pleine page du router-outlet et du footer positionné en bas
 .bds-container-wrap {
  min-height: 100vh;
}

.bds-main-wrap {
  min-height: 100vh;
}


// Styles globaux
bds-footer {
  display: flex;
  min-height: 300px;
}


.bds-background {
  background-color: mat-color($bds-primary, 50);
}
